div {
    width: 300px;
 }
div {

    border-style: dotted dashed solid double;
    border-width: 5px 10px 15px 20px;
    border-color: goldenrod;
}

div{
  /* padding: 10px 40px; */
  padding: 10px 100px 40px ;
} 

div{
    margin: 50px 20px 20px 50px;
}

h1{
    background-color: greenyellow;
    border: 2px gray;
    padding: 20px;
    margin: 20px;
    display: inline;
}
span{
    background-color: blueviolet;
    border: 2px gray;
    /* width: 500px; TIDAK PENGARUH  hanya bisa padding kanan kiri*/
    padding: 20px;
    margin: 20px;
}