*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	width: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
}

header.navbar-container {
	background-color: #f8f9fb;
	padding-block: 0.8rem;
	margin-inline: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

header.navbar-container .logo img {
	padding-inline-start: 3.5rem;
	width: 230px;
}

.navbar .nav-list {
	margin-inline-end: 40px;
}

.navbar .nav-list a {
	padding-inline-end: 3.5rem;
	gap: 2rem 1rem;
	justify-content: center;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 500;
	color: #353a40;
}
.navbar .nav-list a:hover {
	color: #ffcd61;
	font-weight: 600;
	transition: 0.3s;
}
.nav-list a.order {
	padding: 0.5rem 1.5rem;
	border-radius: 999px;
	transition: all 0.5s ease-in-out;
	background-color: #353a40;
	color: #f8f9fb;
}
.nav-list a.order:hover {
	background-color: #ffcd61;

	color: #353a40;
}
/* sidebar-mobile */
#hamburger-menu {
	display: none;
}

main {
	padding-inline: 3em;
	display: flex;

	gap: 1.5rem;
}
/* section banner -1 */
.banner {
	display: flex;
	flex-direction: column;
}
.banner .bagian_1 {
	display: flex;
	flex-direction: column;
}
.banner .bagian_1 .gambar-utama {
	width: 100%;
	object-fit: cover;
	background-position: 10% 70%;
	border-radius: 20px;
	margin-top: 2em;
}
.banner .bagian_1 .gambar-utama img {
	width: 100%;
	height: auto;
	object-fit: contain;
}
.banner h1 {
	font-size: 52px;
	margin-inline: auto;
	margin: 0.2em 0em 0.8em 0em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner .paragraf {
	margin: -18px 130px;
}
.banner p {
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	font-size: 1.4em;
	color: #131313;
}
.banner p .hilight {
	padding: 1px 2px;
	background-color: #ffe76dd7;
}

.banner .garis {
	margin-top: 2rem;
	border: none;
	height: 2px;
	background-color: #dddddd;
	width: 60%;
}
/* end section banner-1 */

/* section cara pesan  */
.order .pesan {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2px 20px;
}
.order .cara-pesan,
.pilihan-paket {
	display: flex;
	justify-content: center;
	font-weight: 550;
	font-size: 2.7rem;
	color: #363636;
	padding: 5px 0;
}
.order .pesan .kotak {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.5px solid #dddddd;
	border-radius: 8px;
}

.order .pesan .kotak .isi {
	display: flex;
	align-items: right;
	flex-direction: column;
	gap: 1px 0;
	margin-block: 20px;
	margin-inline-end: 25px;
}

.order .pesan .kotak p.urutan {
	font-size: 1.1rem;
	/* background-color: #363636; */
	color: #ffffff;
	border-radius: 9999;
	padding: 5px 10px;
	margin-inline-end: 1.5em;
}

.order .pesan .kotak #one {
	background-color: #b3b2b2;
}
.order .pesan .kotak #two {
	background-color: #8a8989;
}
.order .pesan .kotak #three {
	background-color: #747272;
}
.order .pesan .kotak #for {
	background-color: #464545;
}
.feather {
	width: 38px;
	height: 38px;
	stroke: #363636;
	stroke-width: 1.3;
}
.order .pesan .kotak p.icon {
	margin-inline-end: 0.5rem;
}
.order .pesan .kotak .isi .title {
	font-size: 1.7em;
	font-weight: 600;
	line-height: 1em;
	margin-block-end: 0.01em;
}
.order .pesan .kotak .isi p {
	padding: 0;
	margin: 0;
}
/* end section cara pesan */

/*///////////////////////////section card  */

.paket {
	display: flex;

	flex-direction: column;
	justify-content: center;

	gap: 2px 1em;
}
.paket .container {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 2px 1em;
}

.paket .container .card {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	border: 1px solid #ebebeb;
	border-radius: 8px;
	padding: 0px 25px 5px 20px;
	margin: 0px 0px 0px 0px;
	color: #dfdfdf;
	background-color: #363636;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, background-color 0.2s ease;
}

.paket .container .card:hover {
	background-color: #464646;
}
.paket .container .card ul {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 1.2em;
	background-color: #535353;
	padding: 20px 20px 12px 20px;
	margin: 10px 0px;
	border-radius: 4px;
	list-style-type: none;
	margin-block-end: 3em;
}
.paket .container .card ul li {
	display: flex;
	gap: 0px 4px;
	margin-inline-start: -10px;
	cursor: pointer;
}
.paket .container .card ul li:hover {
	color: #ffcd61;
}
.bulat {
	height: 20px;
	width: 20px;
	color: #f8e6ac;
}
.card h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 2.3em;
	padding-block-end: 2px;
	margin-block-end: 2px;
	margin-block-start: 20px;
	line-height: 1.2em;
}
.card p {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.2em;
	padding-block-start: 2px;
	margin-block-start: -5px;
}
.price {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container-price {
	display: inline-flex;
	align-items: flex-start;
}

.base {
	font-size: 2.3em;
	line-height: 1;
}

.super {
	font-size: 1.2em;
	line-height: 1;
	vertical-align: super;
	margin-left: 0.1em;
}
.card .price sup {
	font-size: 0.6em;
	vertical-align: super;
}
/* .card .price p {
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 2em;
	align-items: baseline;
} */
.card .price button.price-button {
	margin-block-start: 1em;
	width: 14em;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: baseline;
	padding: 14px 20px;
	margin-block-end: 20px;
	background-color: #ffcd61;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-weight: 600;
	color: #323233;
	font-size: 1.3em;
	cursor: pointer;
	transition: transform 0.3s ease, background-color 0.3s ease;
}
.card .price button.price-button:hover {
	transform: translateY(5px);
	background-color: #2b2b2b;
	color: #ffcd61;
}
/*/////////////////////////// end section card  */

/*/////////////////////////// section reason  */
.section-reason .reason h1 {
	font-size: 3.1em;
	font-weight: 600;
	margin-block-end: 0.5em;
	margin-block-start: 2em;
}
.section-reason .reason ul li {
	font-size: 1.4em;
	list-style-type: decimal;
}

.section-reason .reason ul {
	margin-block-end: 40px;
}
.quotes {
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	width: 100%;
	gap: 2px 0px;
}

.quotes .quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px 20px 10px 20px;
	margin: 16px 100px 8px 100px;
}
.quotes .quote q {
	font-size: 2em;

	font-weight: 700;
	color: #414141;
}
.quote .quotes .mark {
	display: flex;
	gap: 2px 0px;
	margin: 2px 2px;
	color: #666565;
}
.quotes .quote .mark .name {
	margin-block-start: 10px;
	font-size: 1.5em;
	font-weight: 500;
	color: #575757;
	font-style: normal;
}
.quotes .quote .mark p {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: 300;
	font-style: italic;
	color: #949494;
}

/*/////////////////////////// end section reason  */

/*/////////////////////////// section portfolio  */

.portofolio {
	margin-block-start: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portofolio h1 {
	font-size: 2.5em;
}
.slider {
	position: relative;
	max-width: 100%;

	width: 100%;
	overflow: hidden;
	border: 2px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
}

.slider-wrapper {
	display: flex;
	transition: transform 0.5s ease;
}

.slide {
	min-width: 100%;
	max-height: 450px;
	box-sizing: border-box;
	object-fit: cover;
	object-position: 30% 90%;
	background-position: center;
}

.slide img {
	width: 100%;
	height: auto;
	object-fit: contain;
	border-radius: 10px;
}

#moveSlide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 90%;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

#moveSlide:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.portofolio .order-now {
	padding: 16px 20px;
	background-color: #fcd613;
	color: #323233;
	border-radius: 24px;
	border: none;
	margin-block: 2em;
	font-weight: 700;
}
/*/////////////////////////// end section portfolio  */
/*/////////////////////////// aside  */

main aside {
	position: fixed;
	inset-block: 38em;
	inset-inline-end: 0.5em;
	z-index: 9999;
}

main aside .contact {
	display: flex;
	width: 100%;
}
/*///////////////////////////  end aside  */
/*///////////////////////////  footer  */

footer .container-footer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: row;
	background-color: #2b2b2b;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px 20px 40px;
}

.logo-footer img {
	width: 200px;
}

.layanan-lain {
	display: flex;
	flex-direction: column;
	gap: 6px 0px;
	align-items: center;
	justify-content: center;
}
.layanan-lain h2 {
	padding: 0px;
	margin: 15px 0px 0px 0px;
}
.layanan-lain p a {
	font-size: 1.1em;
	text-decoration: none;
	color: white;
	transition: transform 0.3s ease;
}
.layanan-lain a:hover {
	color: #fcd613;
}
.social-media {
	display: flex;
	flex-direction: column;
}
.social-media p {
	font-size: 1.3em;
	font-weight: 500;
}

.social-media .icon {
	display: flex;
	gap: 0px 0.6em;
}
.social-media .icon i {
	background-color: #fff;
	padding: 0.5em;
	color: #2b2b2b;
	border-radius: 20%;
	font-size: 16px;
	transition: transform 0.3s ease, background-color 0.2s ease;
}
.social-media .icon i:hover {
	color: #fcd613;
	background-color: #414141;
}
/*///////////////////////////  end footer  */
/* media query */

/* laptop & pc */
@media (max-width: 1366px) {
	html {
		font-size: 75%;
	}
}

/* tablet */
@media (max-width: 768px) {
	html {
		font-size: 65%;
	}
	main {
		display: flex;
		gap: 1.5rem;
	}
	#hamburger-menu {
		display: inline-block;
		color: #acacac;
	}
	.navbar .navbar-extra {
		margin-inline-end: 40px;
	}
	.navbar .nav-list {
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: #353a40;
		width: 30rem;
		height: 100vh;

		transition: 0.3s;
	}
	.navbar .nav-list.active {
		right: -10%;
	}
	.navbar .nav-list a {
		color: #f8f9fb;
		display: block;
		margin-block-start: 18px;
		margin-inline-start: 20px;
		padding: 0.8rem;
		font-size: 1.7rem;
		text-decoration: none;
	}
	.navbar .nav-list a.order {
		border-radius: 0;
		background-color: #353a40;
	}
	.navbar .nav-list a:hover {
		color: #fcd613;
	}

	.banner .paragraf {
		margin: -18px 40px;
	}
	.banner .paragraf p {
		font-size: 1.2em;
	}

	.banner p .hilight {
		padding: 1px 2px;
		background-color: #ffe76dd7;
	}

	.banner h1 {
		font-size: 3.7rem;
	}

	.banner .bagian_1 {
		display: flex;
		flex-direction: column;
	}
	.banner .bagian_1 .gambar-utama {
		border-radius: 20px;
		margin-top: 60px;

		object-position: 50% 50%;
	}
	.banner .bagian_1 .gambar-utama img {
		width: 100%;

		height: auto;
		object-fit: contain;
	}

	.banner .bagian_1 h1 {
		margin: 0.5em 0em;
	}

	/* cara pesan */
	.order .pesan {
		flex-direction: column;
		gap: 1em 2em;
	}

	.feather {
		width: 22px;
		height: 22px;
		stroke: #363636;
		stroke-width: 1.3;
	}
	/* section pesan */
	.pesan {
		margin: 0em 3em;
	}

	.order .pesan .kotak {
		align-self: start;
		justify-content: flex-start;
		width: 100%;
	}
	.order .pesan #second {
		background-color: #e4e4e423;
	}

	.order .pesan .kotak p.icon {
		margin-inline-end: 1.5rem;
	}
	.order .pesan .kotak .isi .title {
		font-size: 1.8em;
		font-weight: 600;
		line-height: 1em;
	}

	.order .pesan .kotak .isi {
		display: flex;
		align-items: right;
		flex-direction: column;
		gap: 1px 0;
		margin-block: 1.5em;
	}

	/* card */
	.paket .container {
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0px 5em 0px 5em;
		gap: 1.5em 1.5em;
	}

	/* reason */
	.section-reason .reason h1 {
		font-size: 2.8em;
	}

	.quotes .quote {
		padding: 20px 20px 10px 20px;
		margin: 16px 30px 8px 30px;
	}

	.quotes .quote q {
		font-size: 1.6em;

		font-weight: 700;
		color: #414141;
	}

	footer .container-footer {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.logo-footer img {
		width: 170px;
	}
	.logo-footer {
		border-bottom: solid 1px #666565;
		margin-block-end: 1em;
	}

	.layanan-lain {
		align-items: start;
		text-align: left;
		justify-content: center;
	}
	.layanan-lain::after {
		content: "";
		display: inline-block;
		width: 60%;
		border-bottom: solid 1px #666565;
		margin-block-end: 1em;
	}
	.layanan-lain h2 {
		margin: 12px 0px 0px 0px;
	}
	
}
/* mobile */
@media (max-width: 450px) {
	html {
		font-size: 55%;
	}
	main {
		margin: 0 0px;
	}

	header.navbar-container .logo img {
		padding-inline-start: 3.5rem;
		width: 180px;
	}
	.banner h1 {
		font-size: 3.5rem;
	}
	.banner .paragraf {
		margin: -18px 10px;

		font-size: 1.4em;
		color: #131313;
	}

	.banner {
		display: flex;
		flex-direction: column;
		gap: 40px 40px;
	}

	.banner .bagian_1 {
		display: flex;
		flex-direction: column;
	}
	.banner .bagian_1 .gambar-utama {
		border-radius: 20px;
		margin-top: 80px;
		object-fit: cover;
		background-size: cover;
		object-position: 50% 50%;
	}
	.banner .bagian_1 .gambar-utama img {
		width: 100%;
	}
	/* order */
	.order .cara-pesan,
	.pilihan-paket {
		font-size: 2.9rem;
		color: #363636;
	}

	.order .pesan .kotak .isi .title {
		font-size: 2em;
	}
	.order .pesan .kotak .isi p {
		font-size: 1.5em;
	}
	/* pesan */
	.paket .container {
		margin-inline: 0em;
	}
	.paket .container .card {
		padding: 20px 30px 10px 30px;
		margin: 16px 10px 8px 10px;
	}

	.card h1 {
		font-size: 3em;
		padding-block-end: 2px;
		margin-block-end: 2px;
		margin-block-start: 0.1em;
	}
	.card p {
		font-size: 1.6em;
		padding-block-start: 2px;
		margin-block-start: -5px;
	}
	.paket .container .card ul {
		padding: 20px 5px 12px 10px;
		margin: 10px 0px;
		font-size: 1.7em;
	}

	.price {
		margin-block-start: 1.5em;
	}
	.card .price .container-price .base {
		font-size: 3.3em;
		line-height: 1;
	}

	.card .price .container-price .super {
		font-size: 2em;
		margin-inline-end: 0.1em;
	}

	.card .price button.price-button {
		font-size: 1.9em;
	}
	.bulat {
		height: 18px;
		width: 18px;
		padding-inline-start: 0.5em;
		color: #f8e6ac;
	}

	.section-reason .reason {
		margin-inline: 2em;
	}
	.section-reason .reason h1 {
		font-size: 3.1em;
		margin-inline-end: 2em;
		text-align: left;
	}

	.section-reason .reason ul {
		margin-inline: 3.8em;
		padding: 0px 0px 0px 1em;
	}
	.section-reason .reason ul li {
		font-size: 1.8em;
		margin-block-end: 0.5em;
		list-style-type: decimal;
	}

	.quotes .quote {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 20px 8px 10px 8px;
		margin: 16px 10px 8px 10px;
	}
	.quotes .quote q {
		font-size: 2.1em;

		font-weight: 700;
		color: #414141;
	}

	.quotes .quote .mark .name {
		margin-block-start: 10px;
		font-size: 1.6em;
	}
	.quotes .quote .mark p {
		font-size: 1.2em;
	}

	main aside {
		position: fixed;
		inset-block: 50em;
		inset-inline-end: 0.5em;
	}

	main aside img {
		width: 60px;
	}

/* footer */

	.logo-footer img {
		width: 140px;
	}
	.logo-footer p {
	font-size: 1.4em;
}
	.layanan-lain p a {
		font-size: 1.4em;
	}

	.social-media {
	margin-block-end: 20px;
}
	.social-media p {
		font-size: 1.4em;
		font-weight: 500;
	}
}
